.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem; 
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem; 
    border-radius: 2rem;
    border: 1px solid transparent; 
    transition: var(--transtion);  
}

.fit-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant); 
    background: color; 
}

.portfolio__item-image {
    border-radius: 1rem;
    overflow: hidden;
    height: 8rem;
    width: 16rem;
}

.portfolio__item h4 {
    margin: 1rem 0 2.5rem; 
    text-align: center;
}

.portfolio__item-cta {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    margin-bottom: 0.5rem; 
}

.personal__introduction {
    width: 100%; 
}

.personal__introduction p {
    overflow-wrap: break-word; 
}


/* A) MEDIUM DEVICES */
@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem; 
    }

}

/* B) SMALL DEVICES  */
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem; 
    }
}

