.experience__container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem; 
}

.experience__card {
    background: var(--color-bg-variant);
    padding: 1.5rem 5rem; 
    border-radius: 2rem;
    border: 1px solid transparent; 
    transition: var(--transition); 
}

.experience__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant); 
    cursor: default; 
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 1.25rem; 
    color: var(--color-primary); 
}

.experience__content {
    display: grid;

    /* the grid container is divided into two equal-width columns  */
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
}

.experience__details {
    display: flex;
    gap: 1rem; 
}

.experience__details-icon {
    margin-top: 6px; 
    color: var(--color-primary)
}

/* A) MEDIUM DEVICES */
@media screen and (max-width: 1024px){
    .experience__container{
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%; 
        padding: 2rem; 
        margin: 0 auto; 
    }

    .experience__content{
        padding: 1rem; 
    }
}

/* B) SMALL DEVICES  */
@media screen and (max-width: 600px){
   .experience__container {
        gap: 1rem; 
   }

   .experience__container > div {
        width: 100%;
        padding: 2rem 1rem; 
   }
}