nav {
    /* block styling */
    background: rgba(0,0,0,0.3); 
    width: max-content;  
    display: block;
    padding: 0.5rem 1.7rem; 

    /* DEBUG1: UNABLE TO SHOW NAV BAR WHEN EXCEEDS 1024PX SCREEN WIDTH */
    z-index: 5;   
    /* the position is not affected by scrolling or the position of other element */
    position: fixed;  
    left: 50%;      
    /* used to mvoe an element horizontally along the X-axis by a percentage of its own width, relative to its original position */
    transform: translateX(-50%);    

    /* icon styling */
    display: flex;
    gap: 0.8rem; 
    border-radius: 3rem;
    backdrop-filter: blur(15px);    
}

/* ICON STYLING */
nav a {
    background: transparent;
    padding: 0.6rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light); 
    font-size: 1.1rem;
}

nav a:hover{
    background-color: rgba(0,0,0,0.3);
}

nav a.active{
    background: var(--color-primary);
    color: var(--color-bg)
}   

/* testing */

